*{box-sizing: border-box; padding: 0; margin: 0;}

:root{
    --platinum: #DAE2DBff;
    --chinese-violet: #6F6479ff;
    --celeste: #A9ECF2ff;
    --celeste-2: #AFEFF5ff;
    --non-photo-blue: #93DCEFff;
}

body{
    background-color: rgba(24, 22, 22, 0.75);     

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.box{
    
    height: 3vh;
    width: 3vh;
    background-color: var(--chinese-violet);
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.boxok{
    display: grid;
    grid-template-columns: repeat(9, 1.6vw);
    grid-template-rows: repeat(9, 1.6vw);
}


.icon{width: 3rem;}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0 0 2rem;
}
header h2{font-size: xx-large;}